@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Roboto";
    color: #172C62;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input {
    font-family: inherit;
    padding: 10px;
    font-size: 18px;
    line-height: inherit;
    margin: 0;
}

input::-ms-clear {
    display: none;
}

ul li {
    list-style: none;
}

ul {
    padding: 0 0 !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1120px;
}

.menu {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin: auto;
}

.menu-parameter {
    width: 265px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.menu-parameter h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 15px;
}

.field-wrapper {
    height: 40px;
    width: 100%;
    position: relative;
}

.menu-parameter-input,
.menu-parameter-field {
    height: 40px;
    width: 100%;
    border: 1px solid #172C62;
    border-radius: 10px;
}

.menu-parameter-input:focus {
    border: 2px solid #172C62;
}

.menu-parameter-field:hover {
    cursor: pointer;
    background-color: #172C62;
    opacity: 0.6;
    color: #FDFDFD;
}

.menu-parameter-value {
    padding-left: 10px;
    line-height: 40px;
    font-size: 18px;
}

.chevron-icons {
    position: absolute;
    right: 10px;
    top: 1em;
}

.menu-parameter-board {
    position: absolute;
    width: 100%;
    max-height: 120px;
    top: 0;
    z-index: 1;
    border: 1px solid #172C62;
    border-radius: 10px;
    background: #FDFDFD;
    cursor: pointer;
    overflow: auto;
}

.menu-parameter-board li:first-child {
    border-radius: 10px 10px 0 0;
}

.menu-parameter-board li:last-child {
    border-radius: 0 0 10px 10px;
}

.values-list {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.values-list:hover {
    background-color: #253F84;
    color: #FDFDFD;
    opacity: 0.4;
}

.table {
    width: 100%;
    display: flex;
    justify-content: start;
}

.table-board {
    width: 550px;
}

.board-wrapper {
    width: 100%;
    height: 868px;
    background: #FDFDFD;
    border: 2px solid #253F84;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-board-section {
    width: 490px;
    margin: 0 auto;
    padding-top: 20px;
}

.table-board-bottom h1,
.table-board-section h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.table-board-section p {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.table-board-section h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0 30px;
}

.line {
    border-top: 1px solid #253F84;
}

.table-raw {
    display: flex;
    justify-content: space-between;
}

.table-raw-name {
    width: 85%;
}

.table-raw-bottom {
    width: 76%;
}

.table-board-bottom {
    height: 129px;
    width: 100%;
    background-color: #253F84;
    border-radius: 7px;
    color: #FDFDFD;
    padding: 0 30px;
}

.table-board-bottom .table-raw {
    height: 100%;
}

.table-board-bottom h1 {
    padding-top: 35px;
}

.table-board-warning {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.table-board-warning p {
    width: 512px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #172C62;
    opacity: 0.6;
}

.warning,
.info {
    position: relative;
    display: inline-block;
    height: 1rem;
}

.warning::before,
.info::after {
    content: "i";
    position: absolute;
    line-height: 20px;
    color: #FDFDFD;
    border-radius: 15px;
    height: 19px;
    width: 19px;
    background-color: #172C62;
    font-size: 16px;
    padding-left: 7px;
}

.info::after {
    right: -26px;
    top: 0;
}

.warning::before {
    left: -26px;
    top: 3px;
}

.hidden {
    display: none;
}

.btn {
    margin-top: 43px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #253F84;
    background-color: #253F84;
    color: #FDFDFD;
    font-size: 1.3em;
    font-family: inherit;
}

.btn:hover {
    box-shadow: 0px 0px 5px 0px #253F84;
    color: #253F84;
    font-weight: 500;
    background-color: #FDFDFD;
    transform: scale(1.02);
    cursor: pointer;
}

.error {
    box-shadow: 0px 0px 5px 0px rgb(137, 27, 27);
    border: 1px solid rgb(137, 27, 27);
    color: rgb(137, 27, 27);
}

.addition-parent {
    position: relative;
}

.addition {
    position: absolute;
    right: -1.5em;
    top: -0.5em;
    z-index: 4;
    display: block;
    font-size: small;
}

@media (max-width: 1120px) {
    .wrapper {
        width: 90vw;
    }

    .menu-parameter {
        width: 30%;
        margin-right: 3%;
    }
}

@media (max-width: 960px) {

    .menu {
        width: 100%;
        height: auto;
    }

    .table {
        justify-content: center;
    }

    .btn {
        margin-bottom: 30px;
    }

    .menu h3,
    .menu p {
        font-size: 17px;
    }

    .menu-parameter {
        margin-top: 15px;
    }

    .table-board-section {
        width: 90%;
        padding-top: 15px;
    }

    .table-board-warning p,
    .table-board {
        width: 95%;
    }

    .last-word {
        display: none;
    }
}

@media (max-width: 640px) {

    .menu {
        max-height: 95vh;
        margin-bottom: 20px;
        justify-content: center;
    }

    .menu h3,
    .menu p {
        font-size: 14px;
    }

    .menu h3 {
        display: inline-block;
        height: 43px;
    }


    input {
        font-size: 13px;
    }

    .menu-parameter {
        width: 40vw;
    }

    .menu-parameter h3 {
        line-height: unset;
        padding-top: 5px;
    }

    .table-board {
        width: 95%;
        justify-content: center;
    }

    .chevron-icons {
        display: none;
    }

    .table-board-warning p,
    .table-board-warning p,
    .table-board-raw span,
    .table-board-section h5 {
        font-size: 16px;
        line-height: inherit;
        padding-bottom: 15px;
    }

    .table-board-bottom h1,
    .table-board-section h1 {
        font-size: 20px;
        line-height: inherit;
        padding-bottom: 15px;
    }

    .table-board-bottom h1 {
        padding: 15px inherit;
    }

    .table-raw-name {
        width: 75%;
    }

    .table-board-bottom {
        width: 100%;
        padding: 0 15px;
    }

    .table-board-section p {
        font-size: 15px;
    }

    .table-raw-bottom {
        width: 70%;
    }

    .table-raw-bottom h1 {
        font-size: 18px;
    }

    .addition {
        display: none;
    }

    .info::after {
        top: -4px;
    }

}